<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipmentList">
    
    <span *ngIf="itemBeingEdited !== item; else elseBlock">
      <span (click)="edit(item)">{{item}}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}"/>
      <button (click)="save(updatedItem.value, item)">save</button>
   </ng-template>

  </li>
</ul>

<input #itemName (keyup.enter) ="add(itemName.value); itemName.value =''" type="text"/>
<button (click)="add(itemName.value); itemName.value=''">Add</button>
